<template>
  <div class="h-screen flex items-center justify-center flex-col">
    <div class="mb-8">
      <svg class="fill-current h-16 w-16 text-green" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    </div>
    <form @click.prevent="submit" class="lg:w-1/3 flex p-8 bg-grey-darkest rounded flex-col mx-6">
      <h1 class="mb-8">Forgot Password</h1>
      <div class="mb-6">
        <input type="email" placeholder="Email" autocomplete="new-email" class="w-full rounded p-4 outline-none bg-black text-grey">
      </div>
      <div>
        <input type="submit" value="Submit" class="w-full rounded p-4 outline-none bg-blue text-white">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  methods: {
    submit () {
      // logic
    }
  }
}
</script>

<style>

</style>
